* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
label{
    color: white;
}
p{
    color: white;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: black;
}
.login-container {
    background: #444;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    
}
.logo {
    width: 100px;
    margin-bottom: 20px;
}
.input-group {
    text-align: left;
    margin-bottom: 15px;
}
.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login-btn {
    width: 100%;
    padding: 10px;
    background: #007BFF;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.login-btn:hover {
    background: #0056b3;
}